body,html{
  background-color: #ffffff;
}
.landing-page{
    width: 95%;
    background-size: cover;
    color: #5f6368;
    background-color: #ffffff;
}
@media screen and (min-width:768px){
.landing-page {
  width: 80%;
}
}

.title-name{
    left: 0;
    position: absolute;
    top: 50%;
    width: 100%;
}
.title-name h2{
  font-size: 200%;
  text-align: center;
  color: white;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-weight: 300;
}
.title-name h4{
  font-size: 100%;
  text-align: center;
  color: white;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-weight: 300;
}
.title-name hr{
  width: 25%;
}
.about-me{
  background-color:#fff;
  color: #333;
}
.top-bar{
  height: 50px;
  width: 100%;
  background-color: #8F0081;
}
.title-dep{
  display: block;
  }
@media screen and (min-width:768px){
.title-dep{
  display: none;
  }
}
.dep-logo{
  height: 160px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.main-div{
  display: flex;
  flex-direction: column-reverse;
}

.images-cl{
  background-color: black;
  height: 550px;
  width: 100%;
  margin: 2px;
  border-radius: 5px;
  overflow: hidden;
}
@media screen and (min-width:768px){
  .main-div{
    flex-direction: row;
  }
  .images-cl{
    width: 100%;
  }
}
.about-and-head{
  display: flex;
  width: 100%;
  flex-direction: column;
  color: #5f6368;
}
.about-dep{
  width: 100%;
}
.dept-head{
  width: 100%;
  border-top: none;
}
.about-dep h4,.dept-head h4{
  background-color: #8F0081;
  color: white;
  padding: 10px;
  font-weight: 400;
  letter-spacing: 1px;
  border-radius: 5px;
}
.about-dep h4{
  width: 100%;
  text-align: center;
}
.about-dep p{
  border: 1px solid #e7e7e7;
  border-radius: 8px;
    padding: 2%;
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.dept-head h4{
  width: 100%;
  text-align: center;
}

.dept-head h3 {
font-size: 100%;
}

.dept-container{
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 5%;
}
.dept-head .dept-container p{
  font-weight: 400;
}
.dept-head .dept-container p:nth-child(2){
  font-size: 120%;
  font-weight: bold;
  letter-spacing: 1px;
}
.dept-head .dept-container img{
  border: 1px solid black;
  border-radius: 50%;
  width: 50%;
  margin-left: 25%;
  margin-bottom: 5%;
}
@media screen and (min-width:768px){
.about-and-head{
  flex-direction: row;
}
.about-dep{
  width: 70%;
  margin: 2%;
}
.dept-head{
  width: 30%;
  margin: 2%;
}
.about-dep h4 {
    width: 100%;
    text-align: left;
}
.dept-head h4{
  /*text-align: left;*/
}
}
/*footer*/
.footer-down{
  display: flex;
  flex-direction: column;
  /*height: 200px;*/
  width: 100%;
  background-color: #8F0081;
  border-bottom: 1px solid white;
  border-radius: 5px;
  margin-top: 5px;
}
.footer-down .foot{
  width: 100%;
  text-align: center;
  border-bottom: 1px solid;
}
.footer-down .foot button{
  padding: 7px;
  border: 1px solid white;
  letter-spacing: 1px;
  border-radius: 5px;
  color: #8F0081;
  margin-bottom: 1%;
}
.footer-down .foot button:hover{
  color: blue;
}
.footer-down .foot h4{
  color: #ffffff;
}
.footer-down .foot p{
  color: #ffffff;
}
.footer-down .foot a{
  color: #ffffff;
}
.footer-down .foot a:hover{
  color: #ffffff;
}
@media screen and (min-width:768px){
  .footer-down{
    flex-direction: row;
  }
  .footer-down .foot{
    width: 25%;
    margin: 2%;
    border-bottom: none;
  }
}
.copyright-foot{
    width: 100%;
    background-color: #8F0081;
    color: #ffffff;
    text-align: center;
    border-radius: 5px;
    font-size: 90%;
    padding: 5px;
}
.copyright-foot a{
  color: #ffffff;
}
.copyright-foot a:hover{
  color: #ffffff;
}
@media screen and (min-width:768px) {
  .copyright-foot{
    height: 50px;
    width: 100%;
    background-color: #8F0081;
    color: #ffffff;
    text-align: center;
    line-height: 50px;
    border-radius: 5px;
    padding: 0;
  }
}
.carousel-caption{
  background-color: rgba(0,0,0,.3);
  border-radius: 5px;
  border: 1px solid;
  color: #e5e5e5;
  display: none;
}
.carousel-caption h3{
  text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 300;
    font-size: 120%;
}
.carousel-caption p{
  letter-spacing: 1px;
  font-weight: 300;
}
.carousel-inner .item img{
  height: 550px;
}
.about-program-p{
  font-weight: 400;
  letter-spacing: 1px;
}
/* courses.html */
.main-content-div{

}
.main-content-div h3{
      color: rgba(0,0,0,.5);
      letter-spacing: 1px;
      text-transform: uppercase;
      text-align: center;
      font-size: 125%;
}
.main-content-div hr{
 border: 1px solid #b8b8b8;
}
.main-content-div p{
    font-size: 120%;
    letter-spacing: 1px;
    font-weight: 300;
}
@media screen and (min-width:768px){
  .main-content-div h3{
    font-size: 150%;
  }
}
/* gallery.html*/

.gallery-title
{
  font-size: 30px;
  color: rgba(0,0,0,.5);
  text-align: center;
  font-weight: 500;
  margin-bottom: 70px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.gallery-title:after {
    content: "";
    position: absolute;
    width: 7.5%;
    left: 46.5%;
    height: 45px;
    border-bottom: 1px solid #5e5e5e;
}
.filter-button
{
    font-size: 18px;
    border: 1px solid #74171A;
    border-radius: 5px;
    text-align: center;
    color: rgba(0,0,0,.7);
    margin-bottom: 30px;
}
.filter-button:hover
{
    font-size: 18px;
    border: 1px solid #74171A;
    border-radius: 5px;
    text-align: center;
    color: #ffffff;
    background-color: #74171A;

}
.btn-default:active .filter-button:active
{
    background-color: #42B32F;
    color: white;
}

.port-image
{
    width: 100%;
}

.gallery_product
{
    margin-bottom: 30px;
}
/* Facilities */
.main-content-div ul{
  text-align: left;
}
.main-content-div ul li{
  font-size: 120%;
  letter-spacing: 1px;
  padding: 5px;
}
@media screen and (min-width:768px){
  .main-content-div ul li{
    font-size: 150%;
  }
}
/* Downloads */
.main-content-div ul li a{
      color: rgba(0, 0, 80, 0.5);
      font-size: 50%;
}
.main-content-div ul li a:hover{
      color: rgba(0, 0, 220, 0.7);
}
.main-content-div ul li span{
  font-size: 50%;
}
/* Contacts Page */
.contacts-main-div{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.contacts-div span{
  color: rgba(0, 0, 120, 0.7);
}
.contacts-div span:hover{
  color: rgba(0, 0, 220, 0.7);
  cursor: pointer;
}
.sub-contact{
    float: left;
    padding-right: 50px;
}
@media screen and (min-width:768px){
  .contacts-main-div{
    flex-direction: row;
  }
}

/* FACULTY PAGE */
.image-info-div{
  width: 105%;
}
.image-info-div .div-left{
float: left;
width: 50%;
padding: 2%;
}
.image-info-div .div-right{
float: right;
width: 50%;
padding: 2%;
}
.div-left .image-div, .div-right .image-div{
  width: 50%;
  float: left;
}
.div-left .image-div{

}
.div-right .image-div{

}
.div-left .image-div img, .div-right .image-div img{
  width: 150px;
  height: 150px;
  border: 1px solid black;
  border-radius: 50%;
  margin: auto;
  display: table;
}
.div-left .info-div, .div-right .info-div{
width: 50%;
float: right;
}
.div-left .info-div{
  margin: auto;
}
.div-right .info-div{
  margin: auto;
}
.div-left .interest-div, .div-right .interest-div{
  /*background: rgba(0,0,0,.1);*/
    width: 100%;
    min-height: 80px;
    margin: auto;
    float: inherit;
    margin-top: 3%;

}
.div-left .interest-div p,.div-right .interest-div p{
  color: black;
  padding: 0.5%;
}
.div-left .interest-div p span, .div-right .interest-div p span{
font-weight: 500;
}

table{
  background-color: #F4F4F3;
}

.des-logo{
display: none;
}
.mob-logo{
display: none;
}
.dep-logo {
  display: none;
}

@media screen and (min-width:768px){
  .dep-logo {
    display: flex;
  }
  .des-logo{
display: block;
height: 150px;
  }
  .mob-logo{
display: none;
  }
}
@media screen and (max-width:768px){
  .images-cl{
    height: 250px;
  }
  .carousel-inner .item img{
    height: 250px;
  }
  .carousel-caption h3, .carousel-caption p{
    font-size: 80%;
  }
  .image-info-div .div-left, .image-info-div .div-right{
    width: 100%;
  }
  .not-displayed{
    display: none;
  }
  .div-left .image-div img, .div-right .image-div img{
    width: 100px;
    height: 100px;
  }
  .info-div p{
    font-size: 80%;
  }
  .image-info-div .div-left, .image-info-div .div-right{
    padding: 0;
  }
  .div-left .interest-div, .div-right .interest-div{
    margin-bottom: 3%;
    height: auto;
  }
  .interest-div p{
    font-size: 90%;
  }
}
.top-bar p{
  color: white;
    letter-spacing: 1px;
    line-height: 50px;
}
@media screen and (max-width:768px){
  .top-bar p{
    font-size: 75%;
  }
  .top-bar a{
    font-size: 75%;
  }
}
.div-left .image-div .former-hod-img, .div-right .image-div .former-hod-img{
  height: 100px;
  width: 100px;
}

/* Profs Page */
.prof-img{
  height: 200px;
  width: 200px;
  border-radius: 50%;
  margin: auto;
  display: table;
  border: 2px solid;
}

.main-content-div h2{
      font-size: 120%;
      letter-spacing: 1px;
}

.main-content-div .sub-hr{
  border: 1px solid rgba(0,0,0,0.09);
}
.prof-div ul li{
    font-size: 100%;
    letter-spacing: 1px;
    font-weight: 300;
}


/* Using panels to display blog date */
.panel.date {
    margin: 0px;
    width: 60px;
    text-align: center;
}

.panel.date .month {
    padding: 2px 0px;
    font-weight: 700;
    text-transform: uppercase;
}

.panel.date .day {
    padding: 3px 0px;
    font-weight: 700;
    font-size: 1.5em;
}

.panel-danger>.panel-heading {
  color: #ffffff;
    background-color: #8F0081;
    border-color: #8F0081;
}

.text-danger {
  color: #8F0081;
}

.panel-danger {
  border-color: #e7e7e7;
}

.panel-contents {
  overflow-y: scroll;
  height: 400px;
}


section{
    background:#fbfbfb;
}
h2 {
    color: #4C4C4C;
    word-spacing: 5px;
    font-size: 30px;
    font-weight: 700;
    font-family: sans-serif;
}

#testimonial{
   padding:40px 0px;
   border-radius: 8px;
}

#testimonial .fa.fa-quote-right{
	color:#8F0081;
	font-size:30px;
}

#testimonial  p{
    font-family: sans-serif;
    margin-bottom:20px;
    margin-top:20px;
}

#testimonial img{
    width: 150px;
    height: 150px;
    margin: 0 auto;
    border-radius: 50%;
    border: 1px solid #8F0081;
}

#testimonial .carousel-indicators  li {
    background-color: #8F0081;
    height: 13px;
    width: 13px;
    margin: 5px;
}

#testimonial .carousel-indicators li.active {
    background-color: #888383;
}

#testimonial .carousel-indicators {
    bottom: -50px;
}
.dean-image {
  float: left;
  margin-right: 2%;
}

.read_more {
  font-size: 130%;
}

.services_section {
  margin-bottom: 1%;
}

.text-primary {
  color: #8F0081;
}

.text-muted {
  text-align: justify;
  padding: 5%;
}

.fa-icons {
  border: 2px solid;
padding: 10%;
border-radius: 10%;
}

/* About us */

.para-div {
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 1%;
  margin-bottom: 1%;
}

.para-div h3 {
text-align: center;
}

.para-div p {
  padding: 0 2%;
padding-bottom: 2%;
font-size: 120%;
}

.top-bar p a {
  color: white;
  text-decoration: none;
}

@media (min-width: 768px) {

    .brand-pills  li  a {
        border-top-right-radius: 0px;
    	border-bottom-right-radius: 0px;
    }

    li.brand-nav.active a:after{
    	content: " ";
    	display: block;
    	width: 0;
    	height: 0;
    	border-top: 20px solid transparent;
    	border-bottom: 20px solid transparent;
    	border-left: 9px solid #8F0081;
    	position: absolute;
    	top: 50%;
    	margin-top: -20px;
    	left: 100%;
    	z-index: 2;
    }
}

.prof-name-top {
  background-color: rgba(0,0,0,0.02);
  padding: 1%;
  border-radius: 4px;
}

.nav-pills li.active a, .nav-pills li.active a:focus, .nav-pills li.active a:hover {
  background-color: #8F0081;
}
.nav-pills li a {
  color: #5f6368;
}

.tab-content {
  text-align: justify;
}

.prof-quick-look {
padding: 3%;
}

.prof-quick-look img {
  display: table;
  margin: 0 auto;

}

.prof-quick-look h4 {
text-align: center;
}

.prof-quick-look p {
  text-align: center;
}

.prof-quick-look a {
  color: #5f6368;
}

.prof-quick-look a:hover {
  color: #337ab7;
  text-decoration: none;
}

.nav-tabs a {
  /* color: #8F0081; */
}

.program-div {

}

.program-div h3 {
text-align: center;
}
.program-div p {
  text-align: center;
}

/*  */
.cuadro_intro_hover{
    	padding: 0px;
		position: relative;
		overflow: hidden;
		height: 400px;
	}
	.cuadro_intro_hover:hover .caption{
		opacity: 1;
		transform: translateY(-150px);
		-webkit-transform:translateY(-150px);
		-moz-transform:translateY(-150px);
		-ms-transform:translateY(-150px);
		-o-transform:translateY(-150px);
	}
	.cuadro_intro_hover img{
		z-index: 4;
	}
	.cuadro_intro_hover .caption{
		position: absolute;
		top:150px;
		-webkit-transition:all 0.3s ease-in-out;
		-moz-transition:all 0.3s ease-in-out;
		-o-transition:all 0.3s ease-in-out;
		-ms-transition:all 0.3s ease-in-out;
		transition:all 0.3s ease-in-out;
		width: 100%;
	}
	.cuadro_intro_hover .blur{
		background-color: rgba(0,0,0,0.7);
		height: 400px;
		z-index: 5;
		position: absolute;
		width: 100%;
	}
	.cuadro_intro_hover .caption-text{
		z-index: 10;
		color: #fff;
		position: absolute;
		height: 500px;
		text-align: center;
		top:-20px;
		width: 100%;
	}

.pyqp {
  margin-bottom: 2%;
}
  .pyqp img {
    border: 1px solid #000;
        border-radius: 4px;
  }

  .pyqp p {
    margin: 0 auto;
        display: table;
        padding: 1%;
  }

  .navbar-law {
    background-color: #8F0081;
    color: #ffffff;
  }

  .navbar-law .navbar-nav li a {
    color: #ffffff;
  }

  .navbar-law .navbar-brand {
    color: #ffffff;
  }

  .navbar-inverse {
    border: none;
  }

  .law-right {
    margin-right: 20px;
  }

@media screen and (max-width: 768px) {
  .law-right {
    display: flex;
    justify-content: space-between;
  }

  .navbar-header {
    display: none;
  }
}
