body,html{
  background-color: #f2f2f2;
}
.landing-page{
    width: 90%;
    background-size: cover;
    color: #999;
    background-color: #f2f2f2;
}
.title-name{
    left: 0;
    position: absolute;
    top: 50%;
    width: 100%;
}
.title-name h2{
  font-size: 200%;
  text-align: center;
  color: white;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-weight: 300;
}
.title-name h4{
  font-size: 100%;
  text-align: center;
  color: white;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-weight: 300;
}
.title-name hr{
  width: 25%;
}
.about-me{
  background-color:#fff;
  color: #333;
}
.top-bar{
  height: 50px;
  width: 100%;
  background-color: #74171A;
}
.title-dep{
  display: block;
  }
@media screen and (min-width:768px){
.title-dep{
  display: none;
  }
}
.dep-logo{
  height: 150px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.main-div{
  display: flex;
  flex-direction: column-reverse;
}
.updates-cl{
background-color: rgba(0,0,0,.6);
width: 100%;
height: 500px;
margin: 2px;
border-radius: 5px;
background-image: url(../images/chemistry-bcg.jpg);
background-blend-mode: multiply;
}
.updates-cl ul h4{
  color: #ffffff;
}
.updates-cl ul a{
  color: rgba(255, 255, 255, 0.8);
  font-size: 120%;
}
.updates-cl ul a:hover{
  color: white;
}
.updates-title{
  background-color: #74171A;
  color: white;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 120%;
  border-radius: 5px;
  letter-spacing: 1px;
  border: 1px solid rgba(255,255,255,.6);
}
.images-cl{
  background-color: black;
  height: 500px;
  width: 100%;
  margin: 2px;
  border-radius: 5px;
  overflow: hidden;
}
@media screen and (min-width:768px){
  .main-div{
    flex-direction: row;
  }
  .updates-cl{
    width: 30%;
  }
  .images-cl{
    width: 70%;
  }
}
.about-and-head{
  display: flex;
  width: 100%;
  flex-direction: column;
  color: #898989;
}
.about-dep{
  width: 100%;
}
.dept-head{
  width: 100%;
  border-top: none;
}
.about-dep h4,.dept-head h4{
  background-color: #74171A;
  color: white;
  padding: 10px;
  font-weight: 400;
  letter-spacing: 1px;
  border-radius: 5px;
}
.about-dep h4{
  width: 100%;
  text-align: center;
}
.about-dep p{
  font-size: 120%;
  letter-spacing: 1px;
  font-weight: 300;
}
.dept-head h4{
  width: 100%;
  text-align: center;
}
.dept-container{
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 5%;
}
.dept-head .dept-container p{
  font-weight: 400;
}
.dept-head .dept-container p:nth-child(2){
  font-size: 120%;
  font-weight: bold;
  letter-spacing: 1px;
}
.dept-head .dept-container img{
  border: 1px solid black;
  border-radius: 50%;
  width: 50%;
  margin-left: 25%;
  margin-bottom: 5%;
}
@media screen and (min-width:768px){
.about-and-head{
  flex-direction: row;
}
.about-dep{
  width: 75%;
  margin: 2%;
}
.dept-head{
  width: 25%;
  margin: 2%;
}
.about-dep h4 {
    width: 40%;
    text-align: left;
}
.dept-head h4{
  /*text-align: left;*/
}
}
/*footer*/
.footer-down{
  display: flex;
  flex-direction: column;
  /*height: 200px;*/
  width: 100%;
  background-color: #74171A;
  border-bottom: 1px solid white;
  border-radius: 5px;
  margin-top: 5px;
}
.footer-down .foot{
  width: 100%;
  text-align: center;
  border-bottom: 1px solid;
}
.footer-down .foot button{
  padding: 7px;
  border: 1px solid white;
  letter-spacing: 1px;
  border-radius: 5px;
  color: #74171A;
  margin-bottom: 1%;
}
.footer-down .foot button:hover{
  color: blue;
}
.footer-down .foot h4{
  color: #cccccc;
}
.footer-down .foot a{
  color: #999;
}
.footer-down .foot a:hover{
  color: #ffffff;
}
@media screen and (min-width:768px){
  .footer-down{
    flex-direction: row;
  }
  .footer-down .foot{
    width: 25%;
    margin: 2%;
    border-bottom: none;
  }
}
.copyright-foot{
    width: 100%;
    background-color: #74171A;
    text-align: center;
    border-radius: 5px;
    font-size: 90%;
    padding: 5px;
}
.copyright-foot a{
  color: #999;
}
.copyright-foot a:hover{
  color: #ffffff;
}
@media screen and (min-width:768px) {
  .copyright-foot{
    height: 50px;
    width: 100%;
    background-color: #74171A;
    text-align: center;
    line-height: 50px;
    border-radius: 5px;
    padding: 0;
  }
}
.carousel-caption{
  background-color: rgba(0,0,0,.3);
  border-radius: 5px;
  border: 1px solid;
  color: #e5e5e5;
}
.carousel-caption h3{
  text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 300;
    font-size: 120%;
}
.carousel-caption p{
  letter-spacing: 1px;
  font-weight: 300;
}
.carousel-inner .item img{
  height: 500px;
}
.about-program-p{
  font-weight: 400;
  letter-spacing: 1px;
}
/* courses.html */
.main-content-div{

}
.main-content-div h3{
      color: rgba(0,0,0,.5);
      letter-spacing: 1px;
      text-transform: uppercase;
      text-align: center;
      font-size: 125%;
}
.main-content-div hr{
 border: 1px solid #b8b8b8;
}
.main-content-div p{
    font-size: 120%;
    letter-spacing: 1px;
    font-weight: 300;
}
@media screen and (min-width:768px){
  .main-content-div h3{
    font-size: 150%;
  }
}
/* gallery.html*/

.gallery-title
{
  font-size: 30px;
  color: rgba(0,0,0,.5);
  text-align: center;
  font-weight: 500;
  margin-bottom: 70px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.gallery-title:after {
    content: "";
    position: absolute;
    width: 7.5%;
    left: 46.5%;
    height: 45px;
    border-bottom: 1px solid #5e5e5e;
}
.filter-button
{
    font-size: 18px;
    border: 1px solid #74171A;
    border-radius: 5px;
    text-align: center;
    color: rgba(0,0,0,.7);
    margin-bottom: 30px;
}
.filter-button:hover
{
    font-size: 18px;
    border: 1px solid #74171A;
    border-radius: 5px;
    text-align: center;
    color: #ffffff;
    background-color: #74171A;

}
.btn-default:active .filter-button:active
{
    background-color: #42B32F;
    color: white;
}

.port-image
{
    width: 100%;
}

.gallery_product
{
    margin-bottom: 30px;
}
/* Facilities */
.main-content-div ul{
  text-align: left;
}
.main-content-div ul li{
  font-size: 120%;
  letter-spacing: 1px;
  padding: 5px;
}
@media screen and (min-width:768px){
  .main-content-div ul li{
    font-size: 150%;
  }
}
/* Downloads */
.main-content-div ul li a{
      color: rgba(0, 0, 80, 0.5);
      font-size: 50%;
}
.main-content-div ul li a:hover{
      color: rgba(0, 0, 220, 0.7);
}
.main-content-div ul li span{
  font-size: 50%;
}
/* Contacts Page */
.contacts-main-div{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.contacts-div span{
  color: rgba(0, 0, 120, 0.7);
}
.contacts-div span:hover{
  color: rgba(0, 0, 220, 0.7);
  cursor: pointer;
}
.sub-contact{
    float: left;
    padding-right: 50px;
}
@media screen and (min-width:768px){
  .contacts-main-div{
    flex-direction: row;
  }
}

/* FACULTY PAGE */
.image-info-div{
  width: 105%;
}
.image-info-div .div-left{
float: left;
width: 50%;
padding: 2%;
}
.image-info-div .div-right{
float: right;
width: 50%;
padding: 2%;
}
.div-left .image-div, .div-right .image-div{
  width: 50%;
  float: left;
}
.div-left .image-div{

}
.div-right .image-div{

}
.div-left .image-div img, .div-right .image-div img{
  width: 150px;
  height: 150px;
  border: 1px solid black;
  border-radius: 50%;
  margin: auto;
  display: table;
}
.div-left .info-div, .div-right .info-div{
width: 50%;
float: right;
}
.div-left .info-div{
  margin: auto;
}
.div-right .info-div{
  margin: auto;
}
.div-left .interest-div, .div-right .interest-div{
  /*background: rgba(0,0,0,.1);*/
    width: 100%;
    min-height: 80px;
    margin: auto;
    float: inherit;
    margin-top: 3%;

}
.div-left .interest-div p,.div-right .interest-div p{
  color: black;
  padding: 0.5%;
}
.div-left .interest-div p span, .div-right .interest-div p span{
font-weight: 500;
}

table{
  background-color: #F4F4F3;
}

.des-logo{
display: none;
}
.mob-logo{
display: block;
}
@media screen and (min-width:768px){
  .des-logo{
display: block;
  }
  .mob-logo{
display: none;
  }
}
@media screen and (max-width:768px){
  .images-cl{
    height: 250px;
  }
  .carousel-inner .item img{
    height: 250px;
  }
  .carousel-caption h3, .carousel-caption p{
    font-size: 80%;
  }
  .image-info-div .div-left, .image-info-div .div-right{
    width: 100%;
  }
  .not-displayed{
    display: none;
  }
  .div-left .image-div img, .div-right .image-div img{
    width: 100px;
    height: 100px;
  }
  .info-div p{
    font-size: 80%;
  }
  .image-info-div .div-left, .image-info-div .div-right{
    padding: 0;
  }
  .div-left .interest-div, .div-right .interest-div{
    margin-bottom: 3%;
    height: auto;
  }
  .interest-div p{
    font-size: 90%;
  }
}
.top-bar p{
  color: white;
    letter-spacing: 1px;
    line-height: 50px;
}
@media screen and (max-width:768px){
  .top-bar p{
    font-size: 75%;
  }
  .top-bar a{
    font-size: 75%;
  }
}
.top-bar p:hover{
  color: #337ab7;
}
.div-left .image-div .former-hod-img, .div-right .image-div .former-hod-img{
  height: 100px;
  width: 100px;
}

/* Profs Page */
.prof-img{
  height: 200px;
  width: 200px;
  border-radius: 50%;
  margin: auto;
  display: table;
  border: 2px solid;
}

.main-content-div h2{
      font-size: 120%;
      letter-spacing: 1px;
}

.main-content-div .sub-hr{
  border: 1px solid rgba(0,0,0,0.09);
}
.prof-div ul li{
    font-size: 100%;
    letter-spacing: 1px;
    font-weight: 300;
}
